*.py[cod]
*.pyc
*.csv
*.json
ngrok


# virtualenv
/bin
/include
/lib
/share
/man
/venv

# local settings
local_settings.py
settings.json
endpoints.py


# IDE
/.idea
/.Python
# Adding a line item for a jenkins test
